name: Build and push container image, and push update to jupyterhub repo if needed
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'README-template.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - '.github/**'
      - 'images/**'

jobs:
  build-push-open-pr:
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
    uses: cal-icor/shared-workflows/.github/workflows/build-push-create-pr.yaml@0.1.1
    with:
      image: ${{ vars.IMAGE}}
      hub: ${{ vars.HUB }}
      app_id: ${{ vars.APP_ID }}
      image_builder_bot_name: ${{ vars.IMAGE_BUILDER_BOT_NAME }}
      image_builder_bot_email: ${{ vars.IMAGE_BUILDER_BOT_EMAIL }}
    secrets:
      GAR_SECRET_KEY: ${{ secrets.GAR_SECRET_KEY }}
      IMAGE_BUILDER_CREATE_PR: ${{ secrets.IMAGE_BUILDER_CREATE_PR }}
