name: Build and test container image

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - 'README-template.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - '.github/**'
      - 'images/**'

jobs:
  test-build:
    uses: cal-icor/shared-workflows/.github/workflows/build-test-image.yaml@0.1.1
